<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<h1>Welcome to Index PAGE!</h1>

<!-- Если пользователь не аутентифицирован, показать кнопку "Войти" -->
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/login}">
        <button type="button">Войти</button>
    </a>
</div>

<!-- Если пользователь аутентифицирован, показать кнопку "Выйти" -->
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>